.list {
    list-style: none;
    padding: 0;
}

.list li {
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

div.item {
    display: grid;
    grid-template-columns: 200px 100px 150px 80px 80px 120px 100px 100px;
}

div.item a {
    align-self: center;
}

div.item p {
    margin: 0;
    flex: 1;
    text-align: center;
    border-right: 1px solid black;
    font-size: inherit;
    width: 100%;
}

.header {
    font-weight: bold;
}