body {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar {
    position: fixed;
    top: 40px;
    left: 0;
    height: 100%;
}

.navbarContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    margin-bottom: 60px;
}

.logoLink {
    background: none;
    border: none;
    outline: none;
    margin-bottom: 60px;
}

.nav-elements ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-bottom: 60px;
}
